@import "../../styles/colors.scss";

:host {
	background-color: rgba(0, 0, 0, 0.5);

	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 200;

	> div {
		min-width: 250px;
		padding: 16px;

		background-color: $white;
		border-radius: 16px;

		> .top > h1 {
			margin: 0px;
		}

		> .content {
			padding: 24px 0px;

			> ::ng-deep input {
				display: block;
			}
		}

		> .bottom {
			display: flex;

			justify-content: flex-end;

			> :not(:first-child) {
				margin-left: 8px;
			}
		}
	}
}